{% extends 'index.html' %}

{% block content %}
    <a href="{% url 'task_create_new' %}" class="top-menu"><span>Add new task</span></a>
    <a href="{% url 'task_history' %}" class="top-menu"><span>Browse task history</span></a>
    <table class="task_table">
        <tr>
            <th>Task title</th>
            <th>Task author</th>
            <th>Assigned user</th>
            <th>Available actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.assigned_user }}</td>
                <td>
                    <button><a href="{% url 'task_details' pk=task.pk %}">Details</a></button>
                    <button><a href="{% url 'task_edit' pk=task.pk %}">Edit</a></button>
                    <button><a href="{% url 'task_delete' pk=task.pk %}">Delete</a></button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}