{% extends 'index.html' %}

{% block content %}
    <a href="{% url 'task_list' %}"><span>Go to main page</span></a>
    <form method="post" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Apply filter</button>
    </form>
    <table class="task_table">
        <tr>
            <th>Task name</th>
            <th>Editor</th>
            <th>Assigned user</th>
            <th>Action type</th>
            <th>Occurrence date</th>
            <th>Modifications</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.task_name }}</td>
                <td>{{ event.user_who_edited }}</td>
                <td>{{ event.assigned_user }}</td>
                <td>{{ event.action }}</td>
                <td>{{ event.occurrence_date }}</td>
                <td>
                    {% load tags %}
                    {% for field in event.fields_to_update %}
                        <b>Modification of field:</b> {{ field }}<br/>
                        <b>From value:</b> {{ event.old_values|index:forloop.counter0 | linebreaks }}
                        <b>To value:</b> {{ event.new_values|index:forloop.counter0 | linebreaks }}
                       <hr>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}