{% extends 'index.html' %}

{% block content %}
    <br/>
    <h2>Task name:</h2>{{ task.name|linebreaks }}
    <b>Task status:</b>{{ task.status|linebreaks }}
    <b>Assigned User:</b>{{ task.assigned_user|linebreaks }}
    <b>Task author:</b>{{ task.author | linebreaks }}
    <b>Task description:</b>{{ task.description|linebreaks }}
{#    {%  if user.is_authenticated %}#}
    <a href="{% url 'task_edit' pk=task.id %}"><button class="btn btn-primary">Edit task</button></a>
{#    {% endif %}#}
{% endblock %}
